fail_on_severity: moderate
allow_licenses:
  - "MIT"
  - "Apache-2.0"
  - "BSD-2-Clause"
  - "BSD-3-Clause"
  - "ISC"
  - "CC0-1.0"
  - "Unlicense"
  - "PSF-2.0"
fail_on_scopes:
  - "runtime"
vulnerability_check: true
license_check: true
